<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta name="viewport" content="width=device-width">
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Exo" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/style.css">
    <title>Login</title>
</head>
<body>
    <form class="login-page">
        <div class="form">
            <input type="text" placeholder="username" name="userid"/>
            <input type="text" placeholder="password" name="paswrd"/>
            <input class="text" placeholder="Email or Phone Number" />
            <button>Create</button>
            
        </div>    
    </form>
        
</body>
</html>