<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta name="viewport" content="width=device-width">
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Exo" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
    <link rel="stylesheet" href="assets/css/style.css">
    <script src="/js/jquery.min.js"></script>
    <title>Login</title>
</head>

<body>

    {{{ body }}}

</body>

</html>