<div class="create">
    <div class="navbar">
       <a>FitMe</a>
       <div class="nav">   
          <a href="" id="index">Today's Report</a>
          <a href="" id="index">History</a>
          <a href="" id="index">Nutrition</a>
          <a href="" id="index">Logout</a>
       </div>  
    </div> 
 </div>