 <form class="login-page">
        <div class="form">
            <input type="text" placeholder="username" name="userid" />
            <input type="text" placeholder="password" name="paswrd" />
            <input class="text" placeholder="Email or Phone Number" />
            <button><a href="/auth/google">Create FitMe Account</a></button>