<div class="create">
    <div class="navbar">
       <a>FitMe</a>
       <div class="nav">   
          <a href="/logged/:userId" id="index">Today's Report</a>
          <a href="/history/:userId" id="index">History</a>
          <a href="/nutrition/:userId" id="index">Nutrition</a>
          <a href="" id="index">Logout</a>
       </div>  
    </div> 
 </div>
<p>Hi {{user.displayName}}, how fit were you today?</p>
<p>User ID: {{user.id}}</p>
<p>Email: {{user.emails.[0].value}}</p>

<h2>Today's Fitness Report</h2>
<form class="create-form">

  <div class="form-group">
    <label for="ca">Number of Steps Today:</label>
    <input type="text" id="fitness" name="steps">
  </div>
  <div class="form-group">
    <label for="feels">How Do You Feel Today?</label><br>
    <input type="radio" name="feels" value="100" checked> Happy<br>
    <input type="radio" name="feels" value="200"> Tired<br>
  </div>
  <div class="form-group">
    <label for="ca">Hours Of Sleep Today:</label>
    <input type="text" id="fitness" name="sleep">
  </div>
  <div class="form-group">
    <label for="ca">How Much Do You Wiegh Today:</label>
    <input type="text" id="fitness" name="sleep">
  </div>

  <button type="submit">Add Today's Report</button>
</form>