<div class="create">
    <div class="navbar">
       <a>FitMe</a>
       <div class="nav">   
          <a href="/logged" id="index">Today's Report</a>
          <a href="/history" id="index">History</a>
          <a href="/nutrition" id="index">Nutrition</a>
          <a href="" id="index">Logout</a>
       </div>  
    </div> 
</div>
<h2>Nutrition Facts</h2>
<form class="create-form">

  <div class="form-group">
    <label for="food">Food:</label>
    <input type="text" id="search-term" name="search-term">
  </div>

  <button type="run-search">Find Info</button>
</form>